<a href="https://colab.research.google.com/github/michalis0/BigScaleAnalytics/blob/master/assignment/Bsa_personal_assignment_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><b><center>Big Scale Analytics: Personal Assignment 2022</center></b></h1>

-----

**Contents**: the assignment covers four parts: 1. BigQuery, 2. Association rules, 3. Recommender Systems, 4. Elasticsearch.

**Due: Sunday April 10, 23.59pm** <u>(notebook + quiz)</u>

**Clarifications**: You can post your questions in slack channel #assignments. If necessary we will update the notebook accordingly (so make sure to check for updates on GitHub). 

**Grading**: The personal assignment is worth **30%** of your final grade. For your work to be graded, you must:

* Upload your completed notebook on [Moodle](https://moodle.unil.ch/mod/assign/view.php?id=1264173)
* Answer all questions in this [Moodle quiz](https://moodle.unil.ch/mod/quiz/view.php?id=1264176). We will check that your quiz answers reflect the responses provided in the notebook. 

>Note: You can only complete the quiz one time. Have your notebook with the answers ready for answering the quiz. 

**Personal work**: Note that this assignment represents strictly *personal* work. Do not share it with your colleagues. Just do as much as you can on your own. Your code will be compared to that your colleagues. In case of statistically high similarity, you will receive a grade of zero.

**IMPORTANT**: In week 4, we will introduce ElasticSearch. Because your trial account will be limited to 14 days, we strongly advise you to start and finish Part Elastic Search before your account expires).

Good Luck and Enjoy ☀

----

## Part 1: SQL in BigQuery

In this first part, you will explore a dataset using Google BigQuery. Similar to week 2, you will connect to BigQuery, upload the data and access it in the notebook. Your job is to write SQL queries to answer the questions below. 

The dataset is provided for you in the data folder: the `ratings.csv` and `movies.csv` files from the MovieLens 20M dataset.

**Connecting to BigQuery**

To make things easier, we advise you to work in **Google Colab**.

**For Google Colab users**

In [ ]:
from google.colab import auth

auth.authenticate_user()
print("Authenticated")

Authenticated

**For Jupyter users**

Make sure to replace "PATH_TO_CREDENTIALS_FILE" with the *absolute* path to the JSON service account key, e.g., "C:/Users/John/credentials.json".

In [ ]:
!pip install google-cloud-bigquery

In [ ]:
import os

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "PATH_TO_CREDENTIALS_FILE"

**Everyone**

Make sure to replace "YOUR-PROJECT-ID" with the ID of one of your Google Cloud projects, where you upload the data from the dats folder of the assignment.

In [ ]:
import pandas as pd
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client(project="YOUR-PROJECT-ID")

**The Dataset: Movie Lens 20M**
![movie_lens](https://bobliu.io/assets/img/homepage.13c535eb.jpg)

[The movie lens 20M dataset](https://grouplens.org/datasets/movielens/20m/) contains people's expressed preferences (ratings) for movies. These preferences, 20 million of them, were entered through the Movielens website - a recommender-system based business that asks its users to rate movies in order to receive personalized recommendations. No demographic information is included in the dataset. Each user is represented by an id, and no other information is provided.

We use the same dataset in week 6 of the lab for the introduction to recommender systems. To reduce the size of the ratings file, the original 20 million ratings dataset was trucated to some 40'000 ratings.

The **ratings** table provides information on the actual ratings, user id's and movie id.

The **movies** table provides more information on the movies themselves, movied ID, title, genres.

You can see below a preview of the two tables.


**Caution**: Do not forget that each user receives 1 TB of free data processing every month in BigQuery, which can be used to run queries on any dataset. Given the size of this dataset, performing a lot of queries can result in exceeding your free monthly quota. Therefore, you should try to avoid queries that have a big output. Always remember to use the **LIMIT** keyword (especially if you are not sure about the output of your query) to limit the size of the output.

The code below allows us to fetch and display the **schema** of the `movies` table in the movielens20M dataset.

In [ ]:
# Create a reference to the dataset
movielens_ref = client.dataset("the name you gave your dataset in GCP", project="YOUR-PROJECT-ID")

# API request - fetch the dataset
movielens_dataset = client.get_dataset(movielens_ref)

# Create a reference to the "movies" table
movies_ref = movielens_ref.table("movies")

# Fetch the table (API request)
movies_table = client.get_table(movies_ref)

# Display schema
movies_table.schema

In [ ]:
# List the tables in the dataset
tables = list(client.list_tables(movielens_dataset))
for table in tables:  
    print(table.table_id)

movies
ratings

Showing a preview of the movies table using pandas.

In [ ]:
client.list_rows(movies_table, max_results=5).to_dataframe()

   movieId                                              title genres
0      777                              Pharaoh's Army (1995)    War
1      966                          Walk in the Sun, A (1945)    War
2     1450  Prisoner of the Mountains (Kavkazsky plennik) ...    War
3     2669                              Pork Chop Hill (1959)    War
4     2670                         Run Silent Run Deep (1958)    War

Do the same for the ratings table.

In [ ]:
# Create a reference to the "ratings" table
ratings_ref = movielens_ref.table("ratings")

# Fetch the table (API request)
ratings_table = client.get_table(ratings_ref)

# Display schema
ratings_table.schema

[SchemaField('userId', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('movieId', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('rating', 'FLOAT', 'NULLABLE', None, ()),
 SchemaField('timestamp', 'INTEGER', 'NULLABLE', None, ())]

In [ ]:
#Show a preview of the "ratings" table using pandas
client.list_rows(ratings_table, max_results=5).to_dataframe()

   userId  movieId  rating  timestamp
0       2      891     2.0  974820969
1       2     1969     2.0  974820969
2       2     1970     2.0  974820969
3       2     1971     2.0  974820943
4       2     1972     2.0  974820969

### Question 1. What is the most common rating for films in the dataset ?
**Hint:** list the ratings and the number of films which received each rating.

In [ ]:
# YOUR CODE HERE

### Question 2. Find the title of the Comedy, with more than 1000 reviews, that received the highest average rating

**Hint**: For this question you will need to join the `ratings` and the `movies` tables. List the title, number of ratings, average rating. Look at movies which include `Comedy` in their genres description. Group by title (not by movieID).

In [ ]:
# YOUR CODE HERE

### Question 3. Which user (userID) rated most romance films according to the available dataset and what was the average score he or she gave to all the romance films reviewed?

**Hint**: For this question you will need to join the ratings and the movies tables. List the userID, number of ratings of romance films, average rating of the romance films. Look at movies which include Romance in their genres description.

In [ ]:
# YOUR CODE HERE

### Question 4.  Looking at the movies table in the available dataset, find the year in which most drama films were made.

**Hint:** You can find the year when a film was made at the end of most title strings, as for example in 'Waiting for Guffman (1996)', 1996 is the year shown in parenthesis at the end of the string, for most films. You can ignore the ones for which the information is not available in the title. You can use the REGEXP_EXTRACT function from the [Big Query reference documentation for string functions](https://cloud.google.com/bigquery/docs) to extract the year. A useful condition is related to the `genres` column of the table which should contain "Drama". Additonal hint: you can test your regex expression with the help of https://regex101.com/.

In [ ]:
# YOUR CODE HERE

-----

# Part 2: Association rules

In this second part, you will search for matches between film genres using the `mlxtend` Python module that we saw in week 5, by looking at the `movies.csv` dataset from the data folder of the assignment. Just to give an example: Drama and Action - how likely is it that a film from the dataset is both drama and action. This information can be interesting for film producers who may either want to produce something similar to the established norm: if most drama films are also action, perhaps the new action-drama film would be equally appreciated, or quite to the contrary try a new combination of genres which is more rare to find.

**Install required modules**

In [ ]:
!pip install mlxtend

Import the required packages and read in the data: the `assoc_rules_movies.csv` file from the data folder of the assignment. This is a modified version of the `movies.csv` file, to focus on the genre of each movie. 

Each row represents a movie. The values in each row list the genres to which a movie belongs. In this dataset a movie belonged to a maximum of 10 genres. If a movie belongs to only 2 genres, say Drama and Action, the first column contains the first genre (Drama), the second contains the second genre (Action), and the following columns are filled with missing values. You do not need to do any data cleaning.

In [ ]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

data = pd.read_csv("https://raw.githubusercontent.com/michalis0/BigScaleAnalytics/master/assignment/data/assoc_rules_movies.csv")
data.head()

           0          1         2       3        4    5    6    7    8    9
0  Adventure  Animation  Children  Comedy  Fantasy  NaN  NaN  NaN  NaN  NaN
1  Adventure   Children   Fantasy     NaN      NaN  NaN  NaN  NaN  NaN  NaN
2     Comedy    Romance       NaN     NaN      NaN  NaN  NaN  NaN  NaN  NaN
3     Comedy      Drama   Romance     NaN      NaN  NaN  NaN  NaN  NaN  NaN
4     Comedy        NaN       NaN     NaN      NaN  NaN  NaN  NaN  NaN  NaN

Have a look at the unique values of genres from the first column.

In [ ]:
data.iloc[:,0].unique()

array(['Adventure', 'Comedy', 'Action', 'Drama', 'Crime', 'Children',
       'Mystery', 'Documentary', 'Animation', 'Thriller', 'Horror',
       'Fantasy', 'Western', 'Film-Noir', 'Romance', 'War', 'Sci-Fi',
       'Musical', 'IMAX'], dtype=object)

**Preprocessing**

As seen during the lab, convert the dataset using a `Transaction Encoder` from the `mlextend` module so that the dataset is reorganised in columns of unique genres (you should have 19 columns as there are 19 unique genres in the entire dataset). Each row should correspond to a different movie (27032 rows). Rows should contain only True or False boolean values according to whether a film was considered as belonging to a genre column or not.

In [ ]:
# YOUR CODE HERE

**Frequent itemsets**  
Using the apriori algorithm find the frequent itemsets with minimum support of 0.01. There is no condition on the maximum length of an itemset.

In [ ]:
# YOUR CODE HERE

### Question 5. How many itemsets did the apriori algorithm return above (for min_support=0.01)?
Count in all retrieved itemsets, regardless of the number of elements (no condition on the maximum or minimum length of an itemset).

In [ ]:
# YOUR CODE HERE

**Mining for association rules**  
Using the frequent items identified above, find association rules with a minimum confidence of 0.5 and order them by decreasing value of lift.

In [ ]:
# YOUR CODE HERE

### Question 6. Looking at your generated association rules, which of the following statements are true of films in our dataset?
a. Mystery films are associated with thrillers  
b. If a film is a drama, then it is also a romance film  
c. If war then drama is the asociation rule with the highest confidence  
d. Adventure-comedy-action occur more frequently than expected  
e. None of the above

----

# Part 3: Recommender Systems

Using the surprise library, with item-based collaborative filtering, find the top 10 recommended films to watch for a given user, similar to what we have seen in the lab. [Documentation about surprise is available here](http://surpriselib.com/).

We will use the 100k MovieLens dataset, smaller as compared to what we have used before. Follow the guiding steps below and answer the two questions.

**First install the library and import the required packages**

In [ ]:
!pip install surprise

Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 10.4 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.21.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1630198 sha256=a57585df55bccc45ef359272ec3f1140305d387e32cd2021e18be470bc117885
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [ ]:
# Import packages
from surprise import KNNBasic, KNNWithMeans
from surprise import Dataset
from surprise.model_selection import GridSearchCV
from collections import defaultdict
from surprise import get_dataset_dir
from surprise.model_selection import train_test_split
import io

**Load the data using the built-in dataset `ml-100k`**

In [ ]:
# Load data
data = Dataset.load_builtin('ml-100k')

Dataset ml-100k could not be found. Do you want to download it? [Y/n] y
Trying to download dataset from http://files.grouplens.org/datasets/movielens/ml-100k.zip...
Done! Dataset ml-100k has been saved to /root/.surprise_data/ml-100k

**Use GridSearchCV to find the best number of neighbours (k) for a KNNWithMeans item-based algorithm**:  
using root-mean-square-error (RMSE) and the following parameter grid `param_grid={'k': [20, 30, 40, 50],                                                      'sim_options': {'name': ['pearson'], 'user_based': [False]}}`  
other parameters `cv=5, refit=True, joblib_verbose=2, n_jobs=-1`

In [ ]:
# YOUR CODE HERE

### Question 7. What is the optimal k for which GridSearchCV returned the best RMSE score?

**Use the full dataset and the `build_full_trainset()` method to build a trainset object. Then use the `build_anti_testset()` method for building the trainset.**

In [ ]:
# YOUR CODE HERE

**Instantiate the KNNWithMeans algorithm using the best k value retrieved above: `KNNWithMeans(k=YOUR_RETRIEVED_VALUE, min_k=1, sim_options=sim_options, verbose=False)`**  
KNNWithMeans takes into account the mean ratings of each user. You can read more about it here: [Documentation](https://surprise.readthedocs.io/en/stable/knn_inspired.html)

In [ ]:
# YOUR CODE HERE

**Fit the model on the training set and predict ratings on the test set.**

In [ ]:
# YOUR CODE HERE

**Use the helper function below to identify the best 20 films for all users**

In [ ]:
def read_item_names():
    '''Read the u.item file from MovieLens 100-k dataset and return two
    mappings to convert raw ids into movie names and movie names into raw ids.
    '''

    file_name = get_dataset_dir() + '/ml-100k/ml-100k/u.item'
    rid_to_name = {}
    name_to_rid = {}
    with io.open(file_name, 'r', encoding='ISO-8859-1') as f:
        for line in f:
            line = line.split('|')
            rid_to_name[line[0]] = line[1]
            name_to_rid[line[1]] = line[0]

    return rid_to_name, name_to_rid


def get_top_n(predictions, n=20):
    '''Return the top-N recommendation for each user from a set of predictions.

    Args:
        predictions(list of Prediction objects): The list of predictions, as
            returned by the test method of an algorithm.
        n(int): The number of recommendation to output for each user. Default
            is 10.

    Returns:
    A dict where keys are user (raw) ids and values are lists of tuples:
        [(raw item id, rating estimation), ...] of size n.
    '''

    # First map the predictions to each user.
    top_n = defaultdict(list) # This is used to group a sequence of key-value pairs into a dictionary of lists
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

**Find the top 20 predictions for user 196.**

In [ ]:
# YOUR CODE HERE

### Question 8. Looking at the top 20 predictions for user 196 above, select the correct statements below:
a. MovieId 1189 is predicted to receive rating 5    
b. MovieId 134 is predicted to receive rating 3    
c. MovieId 814 is predicted to receive rating 4   
d. MovieId 1500 is predicted to receive rating 5  
e. None of the above

----

# Part 4: Elasticsearch

In this part, you will use Elasticsearch's JSON-based Query DSL in order to perform analysis on a dataset of approximately 2'250 films tagged by some nearly 200 users, a sample from the same MovieLent20M database, which you can find in the data folder of the assignment as `tagged_films.csv`.

**NB**: In week 4, we will introduce ElasticSearch. Because your trial account will be limited to 14 days, we strongly advise you to start and finish this part between weeks 4 and 5).

**Apache Access Log**

In a real-world scenario, you could set up a live feed from the system of interest, where you log movie tags to the Elastic cloud. Here, for simplicity's sake, you will upload the data as a file, which we will also do during the lab as an exercise.

The data contains movie tags, such as "true story", "classic", "thought provoking", together with moveIds, userIds, film titles, genres information, as well as the date of the tag.

In the file, each line corresponds to a tag. Here is an example of an entry in this table:

{
        "_index" : "tagged_movies",
        "_id" : "9QcsGH8BJ2RbyKf7cYWF",
        "_score" : 1.0,
        "_source" : {
          "@timestamp" : "2014-04-13T05:33:00.000+02:00",
          "genres" : "Drama",
          "movieId" : 7158,
          "tag" : "sad but good",
          "title" : "House of Sand and Fog (2003)",
          "userId" : 133,
          "timestamp" : "2014-04-13 05:33:00"
        }
      }

**Loading the Data to Elastic**

You should have already deployed an Elasticsearch service on the Elastic cloud during the lab (if you haven't, please refer to the lab of week 4).

Once your deployment is ready, go to the **Kibana dashboard** and go through the following steps:

1. Download the tagged_movies.csv file from the data folder of the assignment.
2. From the dashboard's menu, choose "Upload file" and upload the file.
4. Once the upload is complete, you may need to override the pattern so that title rows are recognized.
  
5. Finally, click "Import" and specify an index name. Take note of the name you choose, as you will need it when writing queries. Also, make sure that the "Create index pattern" box is checked.

Once that process is complete, the data will be indexed and available for query.

**Answering Questions**

Please note:

* To run your queries, you must go to the **console** (from the side menu, *Management* > *Dev Tools*).
* The queries must be written in Elasticsearch's **Query DSL** (Domain Specific Language). The full documentation (along with code samples) can be found [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl.html).
* Once you have found the query to answer each of the four questions below, **copy/paste** the query in the notebook. See an example below.

In [ ]:
# EXAMPLE DSL QUERY
GET tagged_movies/_search
{
  "query": {
    "match_all": {}
  }
}

**Alternatively**, you can connect your notebook to your ElasticSearch deployment and run the queries directly in the notebook.   
Guiding steps and an example are provided below.

In [ ]:
# first install the required package
!pip install elasticsearch-dsl

In [ ]:
import pandas as pd
import elasticsearch_dsl
from elasticsearch_dsl import connections
from elasticsearch import Elasticsearch
from elasticsearch_dsl import Search, Q, A

In [ ]:
# connecting to your elastic search deployment
# for the first entry between '' go to Elasticsearch Service > Deployment management> Copy Elasticsearch endpoint
# for the second entry between '' you will need to use the authentication credentials from when you set up your deployment
client = Elasticsearch('https://bsatest.es.us-central1.gcp.cloud.es.io:9243',
                      http_auth=('elastic','UPG53LzoQEdS9CjU4py2P0re'))

Example of query below for retrieving all tags related to movieId 1111.

In [ ]:
# set index to the name under which you uploaded your data in your deployment
s = Search(using=client, index="tagged_movies_2").query("match", movieId="1111")
response = s.execute()

In [ ]:
df = []
for h in response.hits.hits:
    df.append(h["_source"].to_dict())

pd.DataFrame(df)

                      @timestamp       genres  ...  userId            timestamp
0  2008-08-13T14:03:16.000+02:00  Documentary  ...    1741  2008-08-13 14:03:16
1  2006-01-15T18:53:39.000+01:00  Documentary  ...    1763  2006-01-15 18:53:39
2  2006-01-15T18:53:39.000+01:00  Documentary  ...    1763  2006-01-15 18:53:39

[3 rows x 7 columns]

### Question 9. Which film (movieId) received the largest number of tags between 5 March 2014 and 5 March 2015?

**Hint**: Use the following date format for writing your condition: [yyyy-MM-dd HH:mm:ss], and set the hours, minutes and seconds to 0. The limits of the time interval should be included (as in writing a condition for greater or equal to). Use `movieId` for the aggregation function (not the `title`).

In [ ]:
# COPY/PASTE QUERY HERE

# GET [YOUR-INDEX-NAME]/_search
# {
#   ...
# }
# DO NOT FORGET TO COPY YOUR RESULT IF USING DIRECTLY THE CONSOLE

### Question 10. What was the most popular word used in tags published between 5 March 2010 and 5 March 2015?

**Hint**: Use the following date format for writing your condition: [yyyy-MM-dd HH:mm:ss], and set the hours, minutes and seconds to 0. The limits of the time interval should be included (as in writing a condition for greater or equal to). Use a [significant text aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-significanttext-aggregation.html) on tags to find the words most commonly used.

In [ ]:
# COPY/PASTE QUERY HERE

# GET [YOUR-INDEX-NAME]/_search
# {
#   ...
# }

### Question 11. How many films produced in 2002 were tagged with "true story"?
**Hint**: Look at films whose titles mention the year (2002) and for which the tag matches "true story". Results can be aggregated by movieId to find the number of films.

In [ ]:
# COPY/PASTE QUERY HERE

# GET [YOUR-INDEX-NAME]/_search
# {
#   ...
# }

### Question 12. Which userID produced most of the tags in the dataset?

In [ ]:
# COPY/PASTE QUERY HERE

# GET [YOUR-INDEX-NAME]/_search
# {
#   ...
# }